@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

$hamburger-padding-x: 0px;
$hamburger-padding-y: 0px;
$hamburger-types     : (squeeze);
$hamburger-layer-width         : 25px;
$hamburger-layer-height        : 2px;
$hamburger-layer-spacing       : 6px;
$hamburger-layer-color: theme-color(pcac);
@import "~hamburgers/_sass/hamburgers/hamburgers.scss";

// Import Slick
$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";
@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";

/** Import theme styles */
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
