@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400;1,600&family=Roboto+Slab&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

    main.main{
        padding-top: 100px;
        min-height: 100vh;
    }
}

img{
    max-width: 100%;
    height: auto;
}

a{
    &.button{
        display: inline-block;
        padding: 5px 20px;
        border: 1px solid theme-color(primary);
    }

    &:hover{
        text-decoration: none;
        color: theme-color(purple);
    }
}

h1, h2, h3, h4{
    font-family: 'Roboto Slab', serif;
}

h1{
    font-size: 2.2em;
    margin: $grid-gutter / 2 0;
}

h2{
    margin-bottom: $grid-gutter;
}

h4{
    font-size: 1.2em;
    line-height: 1.3em;
}

h6{
    letter-spacing: .03em;
}

.pcac,
.lirrcc, 
.mnrcc,
.nyctrc{
    p strong{
        font-weight: 400;
    }
}


$councils: 'pcac', 'lirrcc', 'mnrcc', 'nyctrc';

@each $council in $councils {
  .#{$council} {
    p strong,
    .button,
    .themed{
        color: theme-color($council);
        border-color: theme-color($council);
    }   

    #top{
        background-color: theme-color($council);
        color: theme-color(white);
    }

    .logo{
        color: theme-color($council)!important;
        
        svg{
            .circle{
                fill: theme-color($council)!important;
            }
        }
    }
  }
}

.alm-reveal{
    @extend .row;
}

.alm-btn-wrap{
    margin-top: $grid-gutter;

    button{
        border: 0;
        background: theme-color(purple);
        color: theme-color(white);
        padding: 10px 20px;
    }
}

// Events Calendar
.tribe-events-promo{
    display: none;
}