@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300&family=Roboto+Slab&display=swap');
$open: 'Open Sans', sans-serif;

body{
    font-family: $open;
    font-weight: 300;

    main.main{
        margin-top: 120px;
        padding-top: $grid-gutter;
        min-height: 100vh;
    }
}

img{
    max-width: 100%;
    height: auto;
}

a{
    &.button{
        display: inline-block;
        padding: 5px 20px;
        border: 1px solid theme-color(primary);
        
        &:hover{
            background-color: theme-color(primary);
            color: theme-color(white);
        }
    }

    &:hover{
        text-decoration: none;
        color: theme-color(purple);
    }
}

h1, h2, h3, h4{
    font-family: 'Roboto Slab', serif;
}

h1{
    font-size: 2.2em;
    margin: $grid-gutter / 2 0;
}

h2{
    margin-bottom: $grid-gutter;
    font-size: 1.5em;

    @include media-breakpoint-up(md){
        font-size: 2em;
    }
}

h4{
    font-size: 1.2em;
    line-height: 1.3em;
}

h6{
    letter-spacing: .03em;
}

.pcac,
.lirrcc, 
.mnrcc,
.nyctrc{
    p strong{
        font-weight: 400;
    }
}

.desktop{
    display: none;

    @include media-breakpoint-up(md){
        display: block;
    }
}

.mobile{
    @include media-breakpoint-up(md){
        display: none;
    }
}

// Council Logos
.council-logo{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    svg.logo-icon{
        height: 50px;
        margin-right: 10px;
    }
}


$councils: 'pcac', 'lirrcc', 'mnrcc', 'nyctrc';

@each $council in $councils {
  .#{$council} {
    p strong,
    .button,
    .themed{
        color: theme-color($council);
        border-color: theme-color($council);
    }   

    #top{
        background-color: theme-color($council);
        color: theme-color(white);

        .logo-icon{
            .icon{
                fill: theme-color($council)!important;
            }
        }
    }

    .council-logo{
        color: theme-color($council)!important;
        
        svg{
            .circle{
                fill: theme-color($council)!important;
            }
        }
    }

    .thumbnail{
        background-color: rgba(theme-color($council), .2)
    }
  }
}

.alm-reveal{
    @extend .row;
}

.alm-btn-wrap{
    margin-top: $grid-gutter;

    button{
        border: 0;
        background: theme-color(purple);
        color: theme-color(white);
        padding: 10px 20px;
    }
}

// Events Calendar
.tribe-events-promo{
    display: none;
}