footer.content-info{
    background: theme-color(black);
    color: theme-color(white);
    padding: $grid-gutter 0;
    font-size: .9em;

    .container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    section{
        padding: 0;
        margin-bottom: $grid-gutter / 2;
        
        &.widget_nav_menu{
            
        }

        &.widget_custom_html{
            flex: 0 0 100%;
        }
        
        @include media-breakpoint-up(md){
            max-width: 300px;
        }
    }

    h3{
        font-family: $open;
        font-size: 1.2em;
    }

    a{
        color: inherit;
    }

    ul{
        padding-left: 0;

        li{
            list-style: none;
            padding-bottom: 5px;

            a{
                &:hover{
                    color: theme-color(grey);
                }
            }
        }
    }

    #mc_embed_signup #mc-embedded-subscribe-form{
        padding: 0;

        .mc-field-group{
            width: 100%;
        }

        div.mce_inline_error{
            background-color: transparent;
            padding: 5px 0 0;
            margin: 0;
        }

        input[type="email"]{
            border-radius: 0;
            background-color: theme-color(white);
            width: 100%;
            font-size: .9em;
            padding: 10px 5px;

            &::placeholder{
                color: theme-color(pcac);
            }
        }

        input[type="submit"]{
            background-color: theme-color(black);
            color: theme-color(white);
            border: 1px solid theme-color(white);
            border-radius: 0;
            margin: 0;
            font-weight: 200;
            line-height: 1em;
        }
    }

    @include media-breakpoint-up(md){
        section{
            margin-bottom: 0;
        }

        .container{
            justify-content: space-between;
        }
    }
}