footer.content-info{
    background: theme-color(black);
    color: theme-color(white);
    padding: $grid-gutter 0;

    a{
        color: inherit;
    }

    li{
        list-style: none;
    }

    .container{
        display: flex;
        justify-content: space-between;
    }
}