.banner{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: theme-color(white);
  
  .top-banner{
    background-color: theme-color(white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px $grid-gutter / 2;

    .announcement{
      a{
        display: inline-block;
        margin-left: 10px;
      }
    }
  }

  .brand{
    display: inline-block;

    img{
      width: 150px;
      height: auto;
    }
  }  

  .nav-primary{
    display: flex;
    justify-content: space-between;
    background-color: theme-color(grey);
    padding: 0 10px;

    .social{
      a{
        display: inline-block;
        padding: 0.5rem;
      }
    }
  }

  .nav{

  li {
    @extend .nav-item;

    a {
      @extend .nav-link;
    }
  }

  .menu-item-has-children{
    .sub-menu{
      position: absolute;
      visibility: hidden;
      background-color: theme-color(white);
      padding: $grid-gutter / 2;

      &:hover{
        visibility: visible;
      }
    }

    &:hover{
      .sub-menu{
        visibility: visible;
      }
    }
  }
}
}

.nav-councils{
  position: absolute;
  display: flex;
  justify-content: space-between;
  background: theme-color(grey);
  list-style: none;
  max-width: 1200px;
  transition: .25s;
  transform: translateY(-100%);
  z-index: -1;
  
  &.active{
    transform: translateY(0);
  }

  li{
    flex: 1;
    border-right: 1px solid theme-color(black);
    padding: $grid-gutter / 2 $grid-gutter;

    h2{
      margin-bottom: 5px;
    }

    img{
      margin-bottom: 5px;
    }

    &:last-child{
      border-right: 0;
    }
  }
}

