.banner{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: theme-color(white);

  &.scrolled{
    background-color: theme-color(white);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.1);

    .nav-councils{
      top: 60px;
    }
    
    .nav-primary{
      flex: 1;
    }
    
    .top-banner{
      background-color: theme-color(white); 
      
      .announcement{
        display: none;
      }
    }

    @include media-breakpoint-up (md) {
      display: flex;
      align-items: center;
      background-color: theme-color(grey);
      
      .top-banner{
        background-color: theme-color(grey);

        .brand{
          .council-logo{
            font-size: 30px;
          }
  
          svg{
            width: 40px;
          }
        }  
      }
    }

  }

  .brand .council-logo{
    transition: .25s;
    color: theme-color(pcac)!important;
    
    svg{
      .circle{
        fill: theme-color(pcac)!important;
      }
    }
  }
  
  .top-banner{
    background-color: theme-color(white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .announcement{
      display: none;
    }

    .hamburger-wrap{
      //background: theme-color(pcac);
      width: 50px;
      height: 50px;
      //border-radius: 50px;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      .hamburger{
        height: 18px;

        &:focus{
          outline: 0;
        }
      }
    }
    
    @include media-breakpoint-up(md){
      padding: 10px $grid-gutter / 2;

      .announcement{
        display: block;
        color: theme-color(pcac);
        font-size: .9em;
        
        a{
          display: inline-block;
          margin-left: 10px;
        }
      }

      .hamburger-wrap{
        display: none;
      }
    }
  }

  .nav-primary{
    display: none;
    justify-content: space-between;
    background-color: theme-color(white);
    padding: 0;

    .menu-top-menu-container{
      padding: 15px;
      padding-bottom: 0;
    }
    
    .social{
      padding: 0 15px 15px;

      a{
        display: inline-block;
        padding-right: 0.5rem;
      }
    }

    .search-wrap{
      padding: 0 15px;
      margin-bottom: 10px;

        input[type="search"]{
          background: transparent;
          border: 0!important;
          border-bottom: 1px solid theme-color(pcac)!important;
          height: 40px;
          font-size: 1em!important;
          font-family: $open!important;
          color: theme-color(pcac);
          font-weight: 200;
        }
        
        button[type="submit"]{
          height: 40px;

          .is-search-icon{
            background: transparent;
            border: 0!important;
            border-bottom: 1px solid theme-color(pcac)!important;
            height: 40px;
            padding-top: 10px!important;
  
            path{
              fill: theme-color(pcac);
            }
          }
        }

        @include media-breakpoint-up(md){
          margin-right: $grid-gutter / 2;

          input[type="search"]{
            height: 30px;

            &::placeholder{
              opacity: 0;
            }
          }

          button[type="submit"]{
            height: 30px;

            .is-search-icon{
              height: 30px;
              padding-top: 6px!important;
            }
          }
        }
    }
    
    &.active{
      display: block;

      &:before{
        content: '';
        z-index: -1;
        position: fixed;
        background: rgba(theme-color(black), .6);
        opacity: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        animation-name: fade-in;
        animation-duration: .5s;
        animation-fill-mode: forwards;
      }
    }

    .contact{
      padding: $grid-gutter / 2 15px;
      background: theme-color(pcac);
      color: theme-color(white);
      
      a{
        color: theme-color(white);
      }

      p{
        margin-bottom: 0;
      }
    }
    
    @include media-breakpoint-up(md){
      background-color: theme-color(grey);
      display: flex;
      align-items: center;
      height: 60px;

      .menu-top-menu-container{
        padding: 5px;
        flex: 1;
      }
      
      .social{
        padding: 0;
      }
      
      .contact{
        display: none;
      }

    }
  }

  .nav{
    display: block;
    
    li {
      @extend .nav-item;
      border-bottom: 1px solid theme-color(purple);
      
      a {
        @extend .nav-link;      
        display: flex;
        justify-content: space-between;

        &:hover{
          color: theme-color(pcac);
        }

        &:after{
          content: 'ᐳ';
        }
      }
    }

    .menu-item-has-children{  
      .sub-menu{
        height: 0;
        list-style: none;
        overflow: hidden;
        padding-left: 0;

        li{
          border: 0;
        }

        &:hover{
          height: auto;
        }
      }

      &:hover{
        &> a:after{
          content: 'ᐯ';
        }

        .sub-menu{
          height: auto;
        }
      }
    }

    @include media-breakpoint-up(md){
      display: flex;

      li{
        padding: 10px 0;
        border-bottom: 0;
      
        a {
          display: inline-block;
          color: theme-color(black);
          font-size: .9em;
  
          &:after{
            content: '';
          }
        }

        &.menu-item-has-children{
          & > a{
            &:after{
              content: '';
            }
          }
          &:hover{
            &> a:after{
              content: '';
            }
          }
        }

        .sub-menu{
          display: none;
        }
      }
    }
  }
}

.nav-councils{
  display: none;

  @include media-breakpoint-up(md){
    position: fixed;
    top: 120px;
    display: flex;
    justify-content: space-between;
    background: theme-color(grey);
    list-style: none;
    max-width: 1200px;
    transition: .5s;
    transform: translateY(-100%);
    z-index: -1;
    
    &.active{
      transform: translateY(0);
    }

    li{
      flex: 1;
      border-right: 1px solid theme-color(black);
      padding: $grid-gutter / 2 $grid-gutter;

      h2{
        margin-bottom: 5px;
      }

      img{
        margin-bottom: 5px;
      }

      &:last-child{
        border-right: 0;
      }
    }
  }
}

// Ivory Search
div.is-ajax-search-details, 
div.is-ajax-search-result{
  display: none!important;
  
  @include media-breakpoint-up(md){
    display: block;
    background-color: theme-color(white)!important;
    
    .mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
      background-color: theme-color(pcac);
    }
  }
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}