.page{
    section{
        padding: $grid-gutter 0;
    }

    .parent-banner{
        padding-top: $grid-gutter;
        font-size: 40px;
        font-weight: 600;
    }

    // HOME
    &.home{
        background-color: theme-color(grey);
        
        @include media-breakpoint-up(md){
            background-color: theme-color(white);
        }

        main.main{
            padding-top: 0;
            padding-bottom: 0;
        }

        .post-block{
            background-color: theme-color(white);
            padding: 10px;
            border: 1px solid #ddd;
            
            @include media-breakpoint-up(md){
                margin-bottom: $grid-gutter;
                border: 0;
                padding: 0;
                background: transparent;
            }
        }

        section{
            .container{
                position: relative;
                padding-bottom: $grid-gutter * 2;

                &:after{
                    content: '';
                    position: absolute;
                    width: 80%;
                    border-bottom: 1px solid theme-color(black);
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 0;
                    
                    @include media-breakpoint-up(md){
                        border-bottom-width: 2px; 
                        width: 100%;
                    }
                }
            }
        }

        #top{
            @extend .container;
            padding: 0 25px;
            background-color: theme-color(primary);
            color: theme-color(white);
            max-width: 100%;

            @include media-breakpoint-up(md){
                .row{
                    height: 500px;
                }
            }

            #mission{
                padding: $grid-gutter 10px;
                text-align: center;
                
                h1{
                    font-family: 'Open Sans', sans-serif;
                    margin-bottom: 0;
                    font-size: 1.4em;
                    font-weight: 200;
                    max-width: 500px;

                    span{
                        font-weight: 600;
                    }
                }

                .button{
                    color: theme-color(white);
                    border-color: theme-color(white);
                    margin-top: $grid-gutter / 2;
                }
                
                @include media-breakpoint-up(md){
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    padding: $grid-gutter;

                    h1{
                        font-size: 2em;
                    }
                }
            }

            #illustration{
                background-color: white;
                background-size: cover;
                background-position: center;
                min-height: 300px;
            }

        }

        #councils{
            padding-top: $grid-gutter * 2;
        }

        #commentary{
            header{
                display: flex;
                flex-flow: row wrap;
                margin-bottom: $grid-gutter;
                
                h2{
                    flex: 1;
                    margin-bottom: 10px;
                }
                
                .filter{
                    flex: 0 0 100%;
                    order: 5;
                    
                    .mobile{
                        margin-top: 10px;

                        select{
                            width: 100%;
                            border-width: 0;
                            border-bottom-width: 1px;
                            border-color: theme-color(pcac);
                            color: theme-color(pcac);
                            border-radius: 0;
                            padding: 10px 5px;
                        }
                    }
                }

                
                @include media-breakpoint-up(md){
                    
                    .filter{
                        flex: 0;
                        order: 2;
                        padding-right: $grid-gutter / 2;

                        .desktop li{
                            white-space: nowrap;
                        }
                    }

                    .button{
                        order: 3;
                    }
                }

            }

            .alm-filters{
                margin-bottom: 0;

                .alm-filter--inner{
                    padding-bottom: 0;
                }

                ul{
                    display: flex;

                    .alm-filter--link{
                        color: theme-color(purple);
                        background-color: theme-color(grey);
                        border: 1px solid transparent;
                        padding: 5px 10px;
                        font-size: 1em;
                        
                        &.active{
                            color: theme-color(white);
                            background-color: theme-color(purple);
                        }

                        &:before,
                        &:after{
                            display: none;
                        }
                    }
                }
            }

            .alm-btn-wrap{
                margin-top: 0;

                .alm-load-more-btn.more{
                    display: none;
                }
            }

            @include media-breakpoint-up(md){
                .post-block{
                    margin-bottom: 0;
                }
            }
        }

        #calendar{
            .description{
                margin-bottom: 20px;
            }
        }
        
        #feature{
            .container{
                .thumbnail{
                    margin-top: $grid-gutter;

                    img{
                        width: 100%;
                    }
                }
            }
        }

        #newsletter{
            background-color: theme-color(primary);
            color: theme-color(white);
            padding: $grid-gutter * 2 0;

            .container{
                padding-bottom: 0;
                
                &:after{
                    display: none;
                }
            }

            .link{
                padding-bottom: 10px;

                &:last-child{
                    padding-bottom: 0;
                }
            }
            
            .button{
                border-color: theme-color(white);
                color: theme-color(white);
            }
        }

        #twitter{
            .container{
                padding-bottom: 0;

                &:after{
                    display: none;
                }
            }

            .tweet{
                @extend .col-md-4;
                display: flex;
                margin-bottom: $grid-gutter;
                font-size: .9em;
                color: theme-color(purple);

                .icon{
                    font-size: 30px;
                    padding-right: 20px;
                }

                .date{
                    margin-top: 10px;
                    opacity: .5;
                }
            }
        }
    }

    &.about{
        main.main{
            padding-top: 0;
        }

        #top{
            background-color: theme-color(purple);
            color: theme-color(white);
            min-height: 30vh;
            display: flex;
            align-items: center;
            
            .row{
                align-items: center;
            }
        }

        #staff{
            .staff-block{
                h6{
                    margin-bottom: $grid-gutter / 2;
                }
            }
        }
    }

    &.commentary{
        #top{
            padding-top: 0;
        }

        #filters{
            h3{
                display: none;
            }

            .alm-filters{
                margin-bottom: 0;
                
                select{
                    width: 100%;
                }
                
                .alm-filter{
                    &:nth-child(3){
                        .alm-filter--inner{
                            padding: 0;
                        }
                    }
                }
            }

            @include media-breakpoint-up(md){
                h3{
                    display: block;
                }

                .alm-filters{
                    display: flex;
                    
                    .alm-filter{
                        padding-left: 20px;
                    }

                    select{
                        width: auto;
                    }
                }
            }

            select{
                background-color: theme-color(grey);
                border: 0;
                border-radius: 0;
                padding: 5px;
            }
        }

        #posts{
            margin-bottom: $grid-gutter;
        }
    }

    &.template-council{
        section{
            header{
                display: flex;
                justify-content: space-between;
            }
        }

        main.main{
            padding-top: 0;
        }

        #top{
            position: relative;
            padding-bottom: 0;

            h1{
                font-size: 1.8em;
                margin-bottom: $grid-gutter;
            }
            
            .council-logo{
                color: theme-color(white)!important;
                
                .circle{
                    fill: theme-color(white)!important;
                }
            }
            
            @include media-breakpoint-up(md){
                min-height: 400px;
                align-items: center;
                display: flex;

                h1{
                    font-size: 2.2em;
                    margin-bottom: 0;
                }

            .thumbnail{
                position: absolute;
                width: 50%;
                height: 100%;
                right: 0;
                top: 0;

                img{
                    width: 100%;
                height: 100%;
                object-fit: cover;
                }
            }
            }
        }

        .contact{
            margin-bottom: $grid-gutter;
        }

        .wpb_page_list{
            list-style: none;
            padding-left: 0;
            
            li{
                margin-bottom: 5px;
            }
        }

        #members{
            .member-block{
                margin-bottom: $grid-gutter;

                .portrait{ 
                    height: 250px;
                    margin-bottom: 20px;
                    background: theme-color(grey);

                    img{
                        width: 100%;
                        height: 250px;
                        object-fit: cover;

                        &.default{
                            opacity: .2;
                        }
                    }
                }

                h3{
                    font-size: 1.2em;

                    a{
                        color: theme-color(black);
                    }
                }

                p{
                    margin-bottom: 0;
                }
            }
        }
    }

    &.faq{
        h2{
            margin-top: $grid-gutter;
            margin-bottom: 10px;

            &:first-of-type{
                margin-top: 0;
            }
        }

        .question{
            margin-bottom: $grid-gutter / 2;
            background-color: theme-color(grey);

            &.active{
                header{
                    &:after{
                        content: "-";
                    }
                }

                .answer{
                    display: block;
                }
            }

            header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px $grid-gutter / 2;
                cursor: pointer;

                h3{
                    font-family: $open;
                    color: theme-color(pcac);
                    font-size: 1em;
                    margin-bottom: 0;
                }

                &:after{
                    content: "+";
                    font-size: 30px;
                }
            }

            .answer{
                display: none;
                padding: $grid-gutter / 2;
            }
        }
    }
}


// Post blocks
.post-block{
    margin-bottom: $grid-gutter;
    
    @include media-breakpoint-up(md){
        margin-bottom: $grid-gutter;
    }

    a{
        color: theme-color(black);
    }

    h4{
        margin-bottom: 10px;
    }

    p{
        margin-bottom: 0;
    }

    .top{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 10px;

        .council{
            font-size: 1.3em;
            font-weight: 400;
            text-transform: uppercase;
        }

        .date{
            font-size: .9em;
        }
    }

    .thumbnail{
        height: 200px;
        overflow: hidden;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 100%;
            height: 200px;
            object-fit: cover;
            transition: .25s;
        }

        &:hover{
            img{
                opacity: .8;
            }
        }

        .council-logo{
            font-size: 1.2em;

            svg{
                width: 30px;
                margin-right: 5px;
            }
        }
    }

    .category{
        margin-bottom: 5px;
    }

    &.report{
        .thumbnail{
            position: relative;
            height: 0;
            padding-top: 120%;
            background-color: rgba(theme-color(pcac), .2);

            img{
                position: absolute;
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: top;
                transform: translateY(-50%);
            }
        }
    }
}

//Slick
.slick-slide{
    .col-md-4{
        padding: 0;
    }
}

//Search
.nav-links{
    display: flex;
    justify-content: space-between;
}

// Council Blocks
.council-block{
    margin-bottom: $grid-gutter;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    .link{
        order: 1;
    }

    .description{
        order: 2;
        margin-top: 10px;
    }

    .council-logo{
        order: 0;
        font-size: 30px;

        svg{
            height: 40px;
        }
    }

    .image{
        order: 4;
        width: 100%;
    }

    @include media-breakpoint-up(md){
        margin-bottom: 0;
        display: flex;
        height: 100%;

        .description{
            margin-top: 10px;
        }

        .link{
            order: 2;
        }

        .image{
            margin-top: $grid-gutter / 2;
        }

        .council-logo{
            font-size: 40px;

            svg{
                height: 50px;
            }
        }
    }
}

// Events List
.event-list{
    table{
        width: 100%;
        margin-top: $grid-gutter;

        th{
            padding: 10px;
            color: theme-color(purple);
            font-weight: 400;
            
            &:last-child{
                display: none;
                
            }
            
            @include media-breakpoint-up(md){
                padding: 20px;

                &:last-child{
                    display: table-cell;
                }
            }
        }
    }

    .event{
        td{
            padding: 10px;
            background: theme-color(white);
            border-bottom: 10px solid theme-color(grey);
            
            &.date{
                font-weight: 600;
            }
        }
        
        .link{
            display: none;
        }
    }
    
    @include media-breakpoint-up(md){
        tr{
            display: flex;
            width: 100%;

            td, th{
                flex: 1;
            }
        }

        .event{
            flex-wrap: wrap;

            td{
                display: block;
                background: theme-color(grey);
                border-bottom: 10px solid theme-color(white);
                padding: 20px;

                &.info{
                    display: none;
                    flex: 0 0 100%;
                }

                &.link{
                    color: theme-color(pcac);
                    cursor: pointer;

                    &:after{
                        content: 'More Info';
                    }
                }
            }

            &.active{
                td{
                    border-bottom: 0;

                    &.info{
                        display: block;
                        border-bottom: 10px solid theme-color(white);
                    }

                    &.link{
                        &:after{
                            content: 'Less Info';
                        }
                    }
                }
            }

            .link{
                display: table-cell;
            }
        }
    }
}