.page{
    section{
        padding: $grid-gutter 0;
    }

    .parent-banner{
        padding-top: $grid-gutter;
        font-size: 40px;
        font-weight: 600;
    }

    // HOME
    &.home{
        main.main{
            padding-top: 0;
        }

        section{
            .container{
                border-bottom: 2px solid theme-color(black);
                padding-bottom: $grid-gutter * 2;
            }
        }

        #top{
            @extend .container;
            padding: 0 25px;
            background-color: theme-color(primary);
            color: theme-color(white);
            max-width: 100%;


            .row{
                height: 500px;
            }

            #mission{
                padding: $grid-gutter;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
           
                h1{
                    font-family: 'Open Sans', sans-serif;
                    text-align: center;
                    margin-bottom: 0;
                    font-size: 2em;
                    max-width: 500px;
                }
            }

            #illustration{
                background-color: white;
                background-size: cover;
                background-position: center;
            }

        }

        #councils{
            .council-block{
                .council-logo{
                    margin-bottom: $grid-gutter / 2;
                }

                .image{
                    margin-top: $grid-gutter / 2;
                }
            }
        }

        #commentary{
            header{
                display: flex;
                margin-bottom: $grid-gutter;

                h2{
                    flex: 1;
                }

                .filter{
                    padding-right: $grid-gutter / 2;
                }
            }

            .alm-filters{
                margin-bottom: 0;

                .alm-filter--inner{
                    padding-bottom: 0;
                }

                ul{
                    display: flex;

                    .alm-filter--link{
                        color: theme-color(purple);
                        background-color: theme-color(grey);
                        border: 1px solid transparent;
                        padding: 5px 10px;
                        font-size: 1em;
                        
                        &.active{
                            color: theme-color(white);
                            background-color: theme-color(purple);
                        }

                        &:before,
                        &:after{
                            display: none;
                        }
                    }
                }
            }

            .alm-btn-wrap{
                margin-top: 0;

                .alm-load-more-btn.more{
                    display: none;
                }
            }

            @include media-breakpoint-up(md){
                .post-block{
                    margin-bottom: 0;
                }
            }
        }

        #calendar{
            .description{
                margin-bottom: 20px;
            }

            .events{
                table{
                    width: 100%;
                    margin-top: $grid-gutter;

                    th{
                        padding: 20px;
                        color: theme-color(purple);
                        font-weight: 400;
                    }
                }

                .event{
                    td{
                        padding: 20px;
                        background: theme-color(grey);
                        border-bottom: 10px solid theme-color(white);

                        &.date{
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        
        #feature{
            .container{
                .thumbnail{
                    margin-top: $grid-gutter;

                    img{
                        width: 100%;
                    }
                }
            }
        }

        #newsletter{
            background-color: theme-color(primary);
            color: theme-color(white);
            padding: $grid-gutter * 2 0;

            .container{
                padding-bottom: 0;
                border-bottom: 0;
            }

            .link{
                padding-bottom: 10px;

                &:last-child{
                    padding-bottom: 0;
                }
            }
            
            .button{
                border-color: theme-color(white);
                color: theme-color(white);
            }
        }

        #twitter{
            .container{
                border-bottom: 0;
                padding-bottom: 0;
            }

            .tweet{
                @extend .col-md-4;
                display: flex;
                margin-bottom: $grid-gutter;
                font-size: .9em;
                color: theme-color(purple);

                .icon{
                    font-size: 30px;
                    padding-right: 20px;
                }

                .date{
                    margin-top: 10px;
                }
            }
        }
    }

    &.about{
        #top{
            background-color: theme-color(purple);
            color: theme-color(white);
            min-height: 30vh;
            display: flex;
            align-items: center;
            
            .row{
                align-items: center;
            }
        }

        #staff{
            .staff-block{
                h6{
                    margin-bottom: $grid-gutter / 2;
                }
            }
        }
    }

    &.commentary{
        #top{
            padding: $grid-gutter 0;
        }

        #filters{
            .alm-filters{
                display: flex;

                .alm-filter{
                    padding-left: 20px;
                }
            }

            select{
                background-color: theme-color(grey);
                border: 0;
                border-radius: 0;
                padding: 5px;
            }
        }

        #posts{
            margin-bottom: $grid-gutter;
        }
    }

    &.template-council{
        section{
            margin-bottom: $grid-gutter;

            header{
                display: flex;
                justify-content: space-between;
            }
        }

        #top{
            min-height: 400px;

            .logo-icon{
                .circle{
                    fill: theme-color(white)!important;
                }
            }
        }

        .contact{
            margin-bottom: $grid-gutter;
        }

        .wpb_page_list{
            list-style: none;
            padding-left: 0;
            
            li{
                margin-bottom: 5px;
            }
        }

        #members{

            .member-block{
                margin-bottom: $grid-gutter;

                .portrait{ 
                    height: 250px;
                    margin-bottom: 20px;
                    background: theme-color(grey);

                    img{
                        width: 100%;
                        height: 250px;
                        object-fit: cover;
                    }
                }

                h3{
                    font-size: 1.2em;

                    a{
                        color: theme-color(black);
                    }
                }

                p{
                    margin-bottom: 0;
                }
            }
        }
    }
}


// Post blocks
.post-block{
    margin-bottom: $grid-gutter;

    a{
        color: theme-color(black);
    }

    h4{
        margin-bottom: 10px;
    }

    p{
        margin-bottom: 0;
    }

    .top{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 10px;

        .council{
            font-size: 1.3em;
            font-weight: 400;
            text-transform: uppercase;
        }

        .date{
            font-size: .9em;
        }
    }

    .thumbnail{
        height: 200px;
        overflow: hidden;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 100%;
            height: 200px;
            object-fit: cover;
            transition: .25s;
        }

        &:hover{
            img{
                opacity: .8;
            }
        }

        .council-logo{
            font-size: 1.2em;

            svg{
                width: 30px;
                margin-right: 5px;
            }
        }
    }

    .category{
        margin-bottom: 5px;
    }

    &.report{
        .thumbnail{
            height: 400px;
            background-color: rgba(theme-color(pcac), .2);
            
            img{
                height: 400px;
            }
        }
    }
}