.page{
    // HOME
    &.home{
        section{
            padding: $grid-gutter 0;
        }

        #top{
            padding: 0;
            background-color: theme-color(primary);
            color: theme-color(white);

            .row{
                height: 500px;
            }

            #mission{
                padding: $grid-gutter;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
           
                h1{
                    font-family: 'Open Sans', sans-serif;
                    text-align: center;
                    margin-bottom: 0;
                    font-size: 2em;
                    max-width: 500px;
                }
            }

            #illustration{
                background-color: white;
                background-size: cover;
                background-position: center;
            }

        }

        #councils{
            
        }

        #commentary{
            
        }

        #calendar{
            .events{
                .event{
                    width: 100%;
                    display: flex;
                    padding: $grid-gutter / 2;
                    justify-content: space-between;

                    &:nth-child(2n){
                        background: theme-color(grey);
                    }
                }
            }
        }

        #reports{

        }

        #newsletter{
            background-color: theme-color(primary);
            color: theme-color(white);
            
            .button{
                border-color: theme-color(white);
            }
        }
    }

    &.about{
        #top{
            background-color: theme-color(purple);
            color: theme-color(white);
            min-height: 30vh;
            display: flex;
            align-items: center;
            
            .row{
                align-items: center;
            }
        }
    }
}


// Post blocks
.post-block{
    .top{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 10px;

        .council{
            font-size: 1.3em;
            text-transform: uppercase;
        }

        .date{
            font-size: .9em;
        }
    }

    .thumbnail{
        background-color: theme-color(grey);
        height: 250px;
        overflow: hidden;
        margin-bottom: 10px;

        img{
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
    }

    .category{
        margin-bottom: 10px;
    }

    &.report{
        .thumbnail,
        .thumbnail img{
            height: 400px;
        }
    }
}