.single{
    main.main{
        padding-top: 0;
    }
    
    article{
        header{
            position: relative;
            background: theme-color(grey);
            min-height: 30vh;
            
            .text{
                padding: $grid-gutter / 2 15px;
            }
            
            @include media-breakpoint-up(md){
                padding: $grid-gutter;

                .thumbnail{
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 50%;
                    height: 100%;
                    overflow: hidden;
                    
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: left;
                    }
                }
            }
        }

        .entry-content{
            padding: $grid-gutter 0;
        }

        &.category-meeting-minutes{
            .author{
                display: none;
            }
        }
    }

    &.single-people{
        article{
            padding-top: $grid-gutter;

            .thumbnail{
                margin-bottom: $grid-gutter;

                img{
                    max-width: 100%;
                    height: auto;
                }
            }
        }

        h6{
            color: theme-color(pcac);
            margin-bottom: $grid-gutter / 2;
        }
    }
}

.single-reports{
    article header{
        ul{
            padding-left: 0;
            list-style: none;

            li{
                padding-bottom: 10px;
                
                &:last-child{
                    padding-bottom: 0;
                }
            }
        }
    }
}

.single-tribe_events{
    main.main{
        padding-top: 0;
    }

    #tribe-events-pg-template{
        max-width: none;
        padding: 0;
        
        #tribe-events{
            padding: 0;
        }
    }

    #top{
        background-color: theme-color(grey);
        padding: $grid-gutter 0;
    }

}

