.single{
    article{
        header{
            position: relative;
            background: theme-color(grey);
            min-height: 30vh;
            padding: $grid-gutter;

            .thumbnail{
                position: absolute;
                top: 0;
                right: 0;
                width: 50%;
                height: 100%;
                overflow: hidden;
                object-fit: cover;
            }
        }

        .entry-content{
            padding: $grid-gutter 0;
        }
    }

    &.single-people{
        article{
            margin-top: $grid-gutter;

            .thumbnail{
                margin-bottom: $grid-gutter;

                img{
                    max-width: 100%;
                    height: auto;
                }
            }
        }

        h6{
            color: theme-color(pcac);
            margin-bottom: $grid-gutter / 2;
        }
    }
}

.single-tribe_events{
    #tribe-events-pg-template{
        max-width: none;
        padding: 0;
        
        #tribe-events{
            padding: 0;
        }
    }

    #top{
        background-color: theme-color(grey);
        padding: $grid-gutter 0;
    }

}

